$primary-background: #94D1FF;
$secondary-background: #48B0FF;
$outline: #245990;
$text: black;
$active-text: #398CCC;
$header-height: 10vh;

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $primary-background;
}

header {
  width: 100vw;
  height: $header-height;
  background: $secondary-background;
  color: $text;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  position: fixed;
  z-index: 10000;
  margin: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  h2 {
    position: fixed;
    right: 10%;
  }
}

main {
  display: inline-block;
}

input {
  height: 35px;
  margin: 5px 45px 5px 15px;
  padding: 3px;
  font-size: 1em;
  border: 1px solid $outline;
  border-radius: 3px;
}

.main-content-display {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 90vh;
  top: $header-height;
}

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#login-card {
  height: 30vh;
  margin-top: 10%;
  width: 25vw;
  border: 2px solid $outline;
  background-color: $secondary-background;
  border-radius: 3px;
  padding: 5px;
}

.login-page h2{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

.login-page p{
  display: block;
  margin: 5px 5px 5px 10px;
}
.login-page input{
  height: 35px;
  margin: 5px 45px 5px 15px;
  padding: 3px;
  font-size: 1em;
  border: 1px solid $outline;
  border-radius: 3px;
}

.submit-button {
  display: inline-block;
  height: 35px;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 0px 0px;
  border: 1px solid $outline;
  border-radius: 5px;
  font-size: 1em;
}

.manager-dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.todays-statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 2px solid $outline;
  background-color: $secondary-background;
  border-radius: 10px;
  width: 80%;
}

.manager-dashboard-page h2{
  display: inline-block;
  padding: 10px;
}

.occupancy-statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.statistic-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  p {
    padding-right: 5px;
    font-size: 1.2em;
  }
}

.manager-view-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    border: 2px solid $outline;
    background-color: $secondary-background;
    border-radius: 10px;
    margin: 10px;
    width: 80%;
}

.manager-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.manager-search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.manager-reservation-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 2px solid $outline;
  background-color: $secondary-background;
  border-radius: 10px;
  width: 80%;
}

.manager-button-create-reservation {
  display: inline-block;
  height: 35px;
  padding: 5px 10px 5px 10px;
  // margin: 0px 0px 0px 0px;
  border: 1px solid $outline;
  border-radius: 5px;
  font-size: 1em;
}

.customer-dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.new-reservation-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  h3 {
    margin-top: 25px;
  }
}

.customer-reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 50px 0px 50px;
  width: 100%;
}

.customer-reservation-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 2px solid $outline;
  background-color: $secondary-background;
  border-radius: 10px;
  width: 80%;
}

.make-new-reservation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.new-reservation-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0px 15px 0px;
  width: 100%;
}

.date-selection-reservation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 5px 20px 5px;
  padding: 10px;
  border: 2px solid $outline;
  background-color: $secondary-background;
  border-radius: 10px;
  width: 80%;
}

input.date-picker-input {
  height: 35px;
  width: 35px;
  padding: 3px;
  margin: 10px;
  font-size: 1.2em;
  border: 1px solid $outline;
  border-radius: 3px;
}
#year-selection {
  width: 50px;
}

#submit-room-search-button {
  margin-left: 30px;
}

.date-label {
  // display: flex;
  // flex-direction: column;
}

label p {
  display: inline-block;
  margin-left: 20px;
}

select {
  display: inline-block;
  width: 100%;
  padding: 16px 20px;
  font-size: 1.2em;
  margin-top: 5px;
  border: none;
  height: 30px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.available-reservations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  justify-content: center;
  width: 100%;
}

.hidden {
  display: none;
}
